{% extends 'base.html' %}

{% block main-body %}

<div class="container">
    <div class="bg-secondary m-4 p-2 rounded">
        <h1 class=" text-center text-light  h2">Courses</h1>
    </div>
    <div class="container">
        <div class="fs-4 p-1 "><a href="" class="text-decoration-none">Python</a></div>
        <div class="p-1"><p>Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.</p></div>
    </div>
    <div class="container">
        <div class="fs-4 p-1 "><a href="" class="text-decoration-none">Mysql</a></div>
        <div class="p-1"><p>MySQL is an open-source relational database management system. Its name is a combination of "My", the name of co-founder Michael Widenius's daughter My, and "SQL", the abbreviation for Structured Query Language.</p></div>
    </div>
    <div class="container">
        <div class="fs-4 p-1 "><a href="" class="text-decoration-none">HTML</a></div>
        <div class="p-1"><p>The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</p></div>
    </div>
    <div class="container">
        <div class="fs-4 p-1 "><a href="" class="text-decoration-none">Css</a></div>
        <div class="p-1"><p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p></div>
    </div>
</div>


{% endblock main-body %}